hr {
    padding: 0 !important;
    margin: 0 !important;
}

p {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    color: #333
}

ul {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin:0;
}

li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    position: relative;
    top: 3px;
    right: 10px;
    float: right;
}

/* Shortcuts */
.ta-left {text-align: left;}
.ta-center {text-align: center;}


/* General */

.ui-controls {
    position: absolute;
    right: 30px;

    text-align: center;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: #333;
    box-shadow: 0px 2px 10px 2px #aaa;
}

.filter { top: 6vh; padding-top: 6px; }
.info { top: 90vh; padding-top: 6px;  transition: top linear .2s; }
.zoom { top: 82vh; height: 80px; transition: top linear .2s; }
#zoom-plus { border-radius: 6px 6px 0px 0px }
#zoom-minus { border-radius: 0px 0px 6px 6px }
.zoom ul { padding: 0; }
.zoom ul li {
    display: block;
    border: 1px solid #ccc;
    height: 40px;
    width: 40px;
    padding-top: 6px;
}
.info:hover { color: #2980b9 }
.filter:hover { color: #2980b9 }
.zoom ul li:hover { color: #2980b9 }

.info:active { background-color: #ddd }
.filter:active { background-color: #ddd }
.zoom ul li:active { background-color: #ddd }


#filter-layout {
    position: absolute;
    right: 80px;
    top: 6vh;
    background: white;
    border-radius: 6px;
    height: 220px;
    width: 200px;
    overflow: none;
    box-shadow: 0px 2px 10px 2px #aaa;
    transition: opacity .1s linear;
    padding: 15px 0px 0px 10px;
}

.filters {
    display: block;
}

.filters p { font-size: 14px; }
.filters i { padding-right: 5px; }

#info-layout {
    position: absolute;
    right: 80px;
    top: 90vh;
    background: white;
    border-radius: 6px;
    height: 40px;
    padding: 0px 20px;
    overflow: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px 2px #aaa;
    transition: opacity .1s linear;
    transition: top linear .2s;
}

#info-layout {
    font-size: 12px; 
    line-height: 40px;
    color: #777
}

.title-bar {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 2px 10px 2px #aaa;
    width: 100vw;
    height: 56px;
}

.time-sim {
    font-size: 24px;
    font-weight: 500;
    margin-right: 24px;
}

.time-ctrl {
    padding: 8px 0px 0px 20px;
    text-align: left;
}

.time-ctrl-btns {
    text-align: center;
}

.time-ctrl-btns ul li {
    margin: 0;
    padding: 15px 20px 15px 20px;
    border: 1px solid #ccc;
    float:left;
    cursor: pointer;
}

.time-ctrl-btns ul li:hover {
    background-color: #eee;
}

.time-ctrl-btns ul li:active {
    background-color: #ccc;
    box-shadow: inset 0px 2px 10px #aaa;
}

.time-ctrl li:hover {
    cursor: pointer;
}

.sh-metrics {
    padding: 15px 20px 0px 0px;
    text-align: right;
    height: 56px;
    overflow: hidden;
}

.vehicle-metrics {
    display: inline-block;
}

.vehicle-metrics span {
    margin-right: 5px;
    margin-left: 5px;
}

.show-hide-popup {
    display: inline-block;
    margin-left: 30px;
}

#show-hide-btn {
    cursor: pointer;
}

.title {
    padding-top: 14px;
    padding-left: 16px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.author {
    padding-top: 16px;
    padding-right: 16px;
    font-size: 12px; 
    text-align: right;
}

.emp-title{
    font-size: 16px;
    font-weight: 500;
}

.popup-layout {
    position: absolute;
    /* bottom: 0px; -- Taken care of in UI.js */ 
    left: 0px;
    text-align: center;
    height: 480px;
    width: 100vw;
    transition:bottom 0.2s linear;
}

.popup {
    height: 100%;
    width: 100%;
    padding-bottom: 24px;
    margin: auto;
    background: white;
    box-shadow: 0px 2px 10px 2px #aaa;
}

.popup-chart {
    margin-top: 16px;
    display: inline-block;
    text-align: center;
}

.active-btn { color: #2980b9 }
.h-56 { height: 54.5px; }


/*  Day view selectors */
.dayViews {
    height: 480;
    padding: 0;
    width: 710vw;
    position: relative;
    top: 0;
    right: 0;
    transition: right .9s ease-in-out;
}

.dayView {
    display: inline-block;
    width: 100vw;
    height: 480px;
}

.dayView p {
    margin-top: 15px;
    display: block;
}

.dayView div {
    display: inline-block;
    text-align: center;
}

.dayViewSelector {
    margin-top: 12px;
    margin-bottom: 6px;
}

.dayViewSelector p {
    font-size: 18px;
    font-weight: 500;
}

.dayViewSelector ul {
    padding-top: 2px;
}

.dayViewSelector li {
    padding: 0px 8px;
    cursor: pointer;
}

.dayViewSelector li p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom:2px;
}

.dayViewSelector li:hover {
    background-color: #eee;
    border-radius: 5px;
}

.dayViewSelector li:active {
    background-color: #ccc;
    border-radius: 5px;
}
.dayViewSelectorActive {background-color: #ccc;}

/* ------------------------ Toggle Switch---------------------- */
/* Source: https://www.w3schools.com/howto/howto_css_switch.asp */
 
/* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 19px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 16px;
}


.slider.round:before {
    border-radius: 50%;
} 